@page "/home"
@using Autonomuse.Components.Tabs

<div class="home-container">
    <div class="left-container">
        <div class="menubutton-container">
            <button class="menubutton @(ActiveTab == TabType.Audio ? "active" : "")" 
                    @onclick="() => SetTab(TabType.Audio)">Audio</button>
            <button class="menubutton @(ActiveTab == TabType.Video ? "active" : "")" 
                    @onclick="() => SetTab(TabType.Video)">Video</button>
            <button class="menubutton @(ActiveTab == TabType.Images ? "active" : "")" 
                    @onclick="() => SetTab(TabType.Images)">Images</button>
            <button class="menubutton @(ActiveTab == TabType.Books ? "active" : "")" 
                    @onclick="() => SetTab(TabType.Books)">E-Books</button>
            
            <div class="separator"></div>
            
            <button class="menubutton @(ActiveTab == TabType.Settings ? "active" : "")" 
                    @onclick="() => SetTab(TabType.Settings)">Settings</button>
        </div>
    </div>
    <div class="right-container">
        @switch (ActiveTab)
        {
            case TabType.Audio:
                <AudioTab />
                break;
            case TabType.Video:
                <VideoTab />
                break;
            case TabType.Images:
                <ImageTab />
                break;
            case TabType.Books:
                <BookTab />
                break;
            case TabType.Settings:
                <SettingTab />
                break;
        }
    </div>
</div>

@code {
    private enum TabType
    {
        Audio,
        Video,
        Images,
        Books,
        Settings
    }

    private TabType ActiveTab { get; set; } = TabType.Audio;

    private void SetTab(TabType tab)
    {
        ActiveTab = tab;
    }
}